<!-- template del footer, invocato dove necessario da Rythm -->

<div class="inner">

  <div class="inf">
    <h3><strong>CONTACT US</strong></h3>

    <div class="mappa">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2811.270658608917!2d9.13365731504016!3d45.20185827909873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478726351350ac33%3A0x58ea9cb71c029e5e!2sUniversit%C3%A0%20degli%20Studi%20di%20Pavia%20(Polo%20Scientifico)!5e0!3m2!1sit!2sit!4v1592588704869!5m2!1sit!2sit"
        width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>

    <div class="informationAbout">
      <div id="position">
        <img src="../statics/images/icon/position.png" alt="">
        <p>Via Adolfo Ferrara 5 - Pavia - Italy</p>
      </div>
      <div id="email">
        <img src="../statics/images/icon/email.png" alt="">
        <p>progrettog20@@gmailcom</p>
      </div>

      <div class="social">
        <img src="../statics/images/icon/facebook.png" alt="">
        <img src="../statics/images/icon/twitter.png" alt="">
        <img src="../statics/images/icon/googleplus.png" alt="">
      </div>
    </div>

  </div>
</div>