@//login template

<div id="topImg">
</div>

<div class="loginContent">
	<div id="text">
		<p>Vuoi accederea ad un mondo di film? fantastico!
			Accedi o, se non lo hai ancora fatto, registrati! cosa aspetti?!</p>
	</div>

	<div id="content">
		<div class="loginImg">
			<img src="../statics/images/icon/loginImg.png" alt="">
		</div>

		<div class="loginImg">
			<img src="../statics/images/icon/minion.png" alt="">
		</div>

		<div class="login-content">

			<form action=/index method="post">
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Username</h5>
						<input type="text" name="username" class="input">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input type="password" name="password" class="input">
					</div>
				</div>
				<a href="#">Forgot Password?</a>

				<div class="buttons">

					<input type="submit" name="button" class="btn" value="Login">
					<input type="submit" name="button" class="btn" value="CreateAccount">


				</div>
			</form>

		</div>
	</div>
</div>