@//login template

<style>
	p#wrong {
		color: red;
		visibility: hidden;
	}
</style>


<div id="topImg">
</div>

<div class="loginContent">
	<div id="text">
		<p>Vuoi accederea ad un mondo di film? fantastico!
			Accedi o, se non lo hai ancora fatto, registrati! cosa aspetti?!</p>
	</div>

	<div id="content">
		<div class="loginImg">
			<img src="../statics/images/icon/loginImg.png" alt="">
		</div>

		<div class="loginImg">
			<img src="../statics/images/icon/minion.png" alt="">
		</div>

		<div class="login-content">

			<form action="" method="">
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Username</h5>
						<input id="user" type="text" name="username" class="input">
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input id="pass" type="password" name="password" class="input">
					</div>
				</div>
				<a href="#">Forgot Password?</a>

				<div class="buttons">

					<input id="loginBtn" type="button" name="" class="btn" value="Login">
					<input id="newBtn" type="button" name="" class="btn" value="Crea Account">


				</div>
				<p id="wrong">Username o password non corretti!!</p>
			</form>

		</div>
	</div>
</div>