@args{
List<server.domain.cinema.Ticket> ticketList
  String idS
  }


  <h1>Statistics for @idS showing:</h1>
  <table>

    <style media="screen">
      tr th:nth-child(1),
      td:nth-child(1) {
        width: 20%;
      }

      tr th:nth-child(2),
      td:nth-child(2) {
        width: 35%;
      }

      tr th:nth-child(3),
      td:nth-child(3) {
        width: 20%;
      }

      tr th:nth-child(4),
      td:nth-child(4) {
        width: 10%;
      }

      tr th:nth-child(5),
      td:nth-child(5) {
        width: 15%;
      }
    </style>


    <tr>
      <th> <strong>CODE</strong></th>
      <th> <strong>DATE</strong> </th>
      <th> <strong>THEATRE</strong> </th>
      <th> <strong>SEAT</strong> </th>
      <th> <strong>PRICE</strong> </th>
    </tr>

    @for (server.domain.cinema.Ticket tk: ticketList) {
    <tr>
      <td>@tk.getCode()</td>
      <td>@tk.getDateToString()</td>
      <td>@tk.getTheatre()</td>
      <td>@tk.getSeat()</td>
      <td>@tk.getTotalPrice()</td>
    </tr>
    }

  </table>