#footerAd {
  width: 100%;
  height: 100px;
  background-color: rgb(30,63,97);
}

#three .inner {
  margin-left: 0 !important;
  margin-right: -20px !important;
  overflow: auto;
  min-height: 300px;
}

#three #innerAdmin {
  padding-top: 50px;
}

/* primo sottom menu */

.sideMenu {
  top: 60px;
  position: fixed;
  z-index: 100000;
  width: 200px;
  left: -200px;
  background-color: grey;
  opacity: 0.8;
  height: 100%;
  overflow-y: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sideMenu li {
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}

.sideMenu li a{
  /* modifiche al testo */
  text-decoration: none;
}

.sideMenu li:hover {
  background-color: white;
  cursor: pointer;
}

/* non toccarli */
.sideMenu li.active {
  background-color: white;
}

.sideMenu a:hover:not(.active) {

}

/*contenuto di amministrazione */
.contentAdmin {
  position: relative;
  padding-left: 5%;
  overflow: auto;
  float: right;
  height: auto;
  width: 70%;
}

.contentAdmin *:not(div) {
  margin: 10px;
}

.contentAdmin input {
  width: 35%;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  color: black;
}

.contentAdmin input:focus {
  outline: none;
}


.contentAdmin textarea {
  width: 70%;
  resize: none;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  color: black;
}

.contentAdmin textarea:focus {
  outline: none;
}

.contentAdmin .leggenda h5 {
  font-size: 120%;
}

.contentAdmin .leggenda h6{
  font-size: 110%;
}

.contentAdmin button {
  border-radius: 50px;
  color: white;
  background-color: rgb(30,63,97);
  padding:10px;
  border: none;
  cursor: pointer;
}

.contentAdmin button:focus {
  outline: none;
}

.contentAdmin button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.contentAdmin #searchList {
  width: 25%;
  padding: 5px 10px;
}

.contentAdmin .change, .add {
  border-bottom: 1px solid rgb(30,63,97);
  overflow: visible;
}

.contentAdmin p {
  text-align: left;
  color: rgb(30,63,97);
}


/* menu di sotto gestione selezionati da bottone*/
.theatre{
  overflow: hidden;
  height: 0;
}

.movie {
  overflow: hidden;
  height: 0;
}

.ticket {
  overflow: hidden;
  height: 0;
}

.showing {
  overflow: hidden;
  height: 0;
}
