body {
  background-color: #dedede !important;
}

/* blocco di inserimento password */
#passInsert {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(171, 171, 171, 0.5);
  z-index: 100000;
  visibility: visible;
  opacity: 1;
}

#passInsert .passDiv {
  opacity: 1;
  text-align: center;
  position: relative;
  margin: 10% auto 0 auto;
  padding: 15px;
  width: 40%;
  height: auto;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.passDiv h1 {
  font-size: 130%;
  color: black;
  margin-top: 10px;
}

.passDiv input {
  border: none;
  outline: none;
  width: 80%;
  margin: 10px auto;
  border-bottom: 1px solid black;
}

.passDiv .buttons {
  margin: 20px auto;
  height: auto;
}

.passDiv button {
  height: 40px;
  width: 140px;
  margin: 0 5%;
  font-size: 130%;
  border-radius: 10px;
}

.passDiv p {
  color: red;
}

/* FINE PASS BLOC --------------*/
#three {
  padding: 4em 0;
  overflow-y: scroll;
  min-height: 100%;
  max-height: 100%;
  background-color: #dedede;
  visibility: hidden;
  opacity: 0;
}

#three::-webkit-scrollbar {
  display: none;
}

.contentAdmin::-webkit-scrollbar {
  display: none;
}

/* Side Admin Menu */
.sideMenu {
  top: 3.85em;
  position: fixed;
  z-index: 100000;
  width: 15%;
  min-width: 150px;
  left: -15%;
  background-color: #1E3F61;
  opacity: 0.8;
  min-height: 100%;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* nascondo la scrollbar */
.sideMenu::-webkit-scrollbar {
  display: none;
}

.sideMenu li {
  color: white;
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}

.sideMenu li:hover {
  background-color: rgb(214, 214, 214);
  color: black;
  cursor: pointer;
}

/* non toccarli */
.sideMenu li.active {
  background-color: white;
  color: black;
}

/*contenuto di amministrazione */
.contentAdmin {
  top: 1em;
  position: relative;
  overflow: scroll;
  left: 15%;
  margin: 0 5%;
  height: auto;
  width: 75%;
}

.contentAdmin *:not(div) {
  margin: 10px;
}

.contentAdmin input {
  background-color: white;
  width: 35%;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  color: black;
}

.contentAdmin select {
  background-color: white;
  width: 35%;
  border-radius: 50px;
  border: none;
  padding: 5px 15px;
  color: black;
  cursor: pointer;
}

.contentAdmin input:focus {
  outline: none;
}

.contentAdmin select:focus {
  outline: none;
  border: none;
}

.contentAdmin select option {}

.contentAdmin textarea {
  vertical-align: middle;
  display: inline-block;
  width: 60%;
  background-color: white;
  resize: none;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: black;
}

.contentAdmin .leggenda {
  vertical-align: middle;
  display: inline-block;
  width: 30%;
}

.contentAdmin textarea:focus {
  outline: none;
}

.contentAdmin .leggenda h5 {
  font-size: 120%;
}

.contentAdmin .leggenda h6 {
  font-size: 110%;
}

.contentAdmin button {
  border-radius: 50px;
  width: 100px;
  color: white;
  background-color: rgb(30, 63, 97);
  padding: 10px;
}

.contentAdmin #searchList {
  width: 35%;
  padding: 5px 10px;
}

.contentAdmin p {
  text-align: left;
  color: rgb(30, 63, 97);
}

.contentAdmin p.message {
  text-align: center;
}

#introduzione h1 {
  font-size: 150%;
}

#introduzione p {
  text-align: center;
}

#introduzione img {
  height: 256px;
  width: 256px;
}

/* menu di sotto gestione selezionati da bottone*/
.contentAdmin .admin {
  overflow: hidden;
  height: 0;
}

/* general menu */
#general .stat {
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  width: 25%;
  height: auto;
  margin: 0 1.5% 5% 1.5%;
  padding: 5px;
  box-shadow: 5px 5px 20px;
}

#general .stat h1, #pstat {
  vertical-align: middle;
  display: inline-block;
  font-size: 150%;
  color: black;
}

#general .stat #pstat {
  font-weight: bold;
}

.stat .seeTable {
  border-top: 1px solid grey;
  height: auto;
  cursor: pointer;
}

.stat .seeTable h2 {
  color: rgb(30, 63, 97);
  font-size: 110%;
}

.table {
  padding-bottom: 30px;
  width: 100%;
}

.table table {
  width: 50%;
  margin: 0 auto;
}

.table table {
  box-shadow: 5px 5px 20px;
}

.table th, td {
  color: black;
}

.table th:first-child, td:first-child {
  width: 70%;
}

.table th:last-child, td:last-child {
  width: 30%;
}

.table th {
  font-size: 120%;
}

.table td {
  padding: 0 10px;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  font-size: normal;
}

.table table, th, td {
  border: 1px solid rgb(185, 185, 185);
}

.table tr:nth-child(even) {
  background-color: #eee;
}

.table tr:nth-child(odd) {
  background-color: #fff;
}

.movieT {
  visibility: hidden;
  height: 0;
}

.theatreT {
  height: 0;
  visibility: hidden;
}

.movieT.active {
  visibility: visible;
  height: auto;
}

.theatreT.active {
  height: auto;
  visibility: visible;
}