#footerAd {
  width: 100%;
  height: 100px;
  background-color: rgb(30,63,97);
}

#three .inner {
  margin-left: 0 !important;
  margin-right: -20px !important;
  overflow: auto;
  min-height: 300px;
  padding-bottom: 0!important;
}

/* blocca lo scrolling */
body {
  overflow: hidden;
}

/* Side Admin Menu */

.sideMenu {
  top: 61px;
  position: fixed;
  z-index: 100000;
  width: 200px;
  left: -200px;
  background-color: #1E3F61;
  opacity: 0.8;
  min-height: 100%;
  overflow-y: scroll;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* nascondo la scrollbar */
.sideMenu::-webkit-scrollbar {
  display: none;
}

.contentAdmin::-webkit-scrollbar {
  display: none;
}

.sideMenu li {
  color: white;
  padding: 10px 0;
  width: 100%;
  display: block;
  text-align: center;
}

.sideMenu li:hover {
  background-color: rgb(214, 214, 214);
  color: black;
  cursor: pointer;
}

/* non toccarli */
.sideMenu li.active {
  background-color: white;
  color:black;
}


/*contenuto di amministrazione */
.contentAdmin {
  top: 110px;
  position: relative;
  padding-left: 5%;
  overflow: scroll;
  float: right;
  height: auto;
  width: 70%;
}

.contentAdmin *:not(div) {
  margin: 10px;
}

.contentAdmin input {
  width: 35%;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  color: black;
}

.contentAdmin input:focus {
  outline: none;
}


.contentAdmin textarea {
  width: 70%;
  resize: none;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  color: black;
}

.contentAdmin textarea:focus {
  outline: none;
}

.contentAdmin .leggenda h5 {
  font-size: 120%;
}

.contentAdmin .leggenda h6{
  font-size: 110%;
}

.contentAdmin button {
  border-radius: 50px;
  color: white;
  background-color: rgb(30,63,97);
  padding:10px;
  border: none;
  cursor: pointer;
}

.contentAdmin button:focus {
  outline: none;
}

.contentAdmin button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.contentAdmin #searchList {
  width: 25%;
  padding: 5px 10px;
}

.contentAdmin .change, .add {
  border-bottom: 1px solid rgb(30,63,97);
}

.contentAdmin p {
  text-align: left;
  color: rgb(30,63,97);
}


/* menu di sotto gestione selezionati da bottone*/
.theatre{
  overflow: hidden;
  height: 0;
}

.movie {
  overflow: hidden;
  height: 0;
}

.ticket {
  overflow: hidden;
  height: 0;
}

.showing {
  overflow: hidden;
  height: 0;
}
