/* FILM MENU ITEM */

.filmMenu {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: 20px 0 50px 0;
  justify-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}

.filmMenu .item {
  background: white;
  border: none;
  width: 200px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.1s ease-in-out;
  cursor: pointer;
}

.item:hover {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19)
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.2s;
}

.filmMenu .img {
  position: relative;
  margin: auto;
  top: 0px;
  width: 100%;
  height: 85%;
}

.filmMenu img {
  max-width: 100%;
  max-height: 100%;
}

.filmMenu .name {
  position: relative;
  margin: 5px auto;
  top: 5px;
  width: 80%;
  height: 15%;
  color: #373d51;
}

.filmMenu p {
  text-align: center;
  font-size: 110%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
