/* CSS PREDEFINITI DEL LAYOUT PRINCIPALE, IDENDICO IN OGNI PAGINA */
@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600";
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* CSS FOR HOMEPAGE */

/* DA RIVEDERE DOPO
@media screen and (max-width: 980px) {
  #header .inner {
    background-image: url(../images/icon/menu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    height: inherit;
  }
} */

/* bisogna sistemare anche per le altre max-width*/
body {
  min-width: 900px;
}

/* BANNER */

#banner {
  padding: 4em 0 6em 0 !important;
  font-family: 'Sriracha', cursive;
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  transition: background-image 2s;
}

  #banner:before {
    content: '';
    background: rgba(75, 75, 93, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  #banner .inner {
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 100;
    padding-top: 8em;
  }

  #banner .inner h1 {
    position: relative;
    font-size: 3.5em;
    font-weight: 400;
    color: #fff;
    line-height: 1em;
    margin: 0 0 1em 0;
    padding: 0;
  }

#banner .inner h2 {
  position: relative;
  color: white;
  font-size: 120%;
}


/* INDEX BUTTON */

.showFilm{
  display: block;
	width: 50%;
	height: 50px;
	background-image: linear-gradient(to right,   #1E3F61, #275687, #1E3F61);
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 0 auto;
}


/* DIV QUOTES */
.quotes {
	font-family: 'Dancing Script', cursive;
  margin-top: 20px;
  padding: 20px 10px 0 10px;
  text-align: left;
  border-top: 1px solid  rgb(30,63,97);
}
