/* MOVIE INFORMATION */

.imgMovie {
  display: inline;
}


.imgMovie img {
  width: 25%;
  height: 50%;
  object-fit: cover;
}

.description {
  word-wrap: break-word;
  max-width: 65%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}

.description h5 {
  color: #373d51;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 1em 0;
  font-size: 3.5em;
}

.description p {
  color: #555;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 1em 0;
  font-size: 1.3em;
}

.description h6 {
  color: #373d51;
  font-weight: 400;
  font-size: 1.3em;
  margin: 0;
}

button#showsButton {
  display: block;
	width: 25%;
	height: 50px;
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 0 auto;
  margin-top: 2em;
}

button#buy{
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-image: linear-gradient(to right,  #cf1313, #e64343,  #cf1313);
	font-size: 1.2rem;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
}


/*catalog list */
.catalogList {
  position: relative;
  top: 100px;
  padding-top: 20px;
  border-top: 1px solid rgb(30, 63, 97);
}

  /* per ora è la p, dopo sara una div con la tabellla */
.catalogList .showingTable {
  opacity: 0;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  transition: all 0.2s ease 0.15s;
}

.catalogList .showingTable.active {
  opacity: 1;
  max-height: 100%;
  transition: all 0.35s ease 0.15s;
}



/* tabella delle proiezioni */

.showingTable {
  padding-bottom: 30px;
}

.showingTable table {
  width: 100%;
}
.showingTable th, td {
  width: 30%;
  color: black;
}
.showingTable th:last-child, td:last-child{
  width: 10%;
}

.showingTable th {
  font-size: 120%;
}

.showingTable td {
  padding: 0 10px;
  text-align: left;
  align-items: center;
  vertical-align: middle;
  font-size: normal;
}

.showingTable table, th, td {
  border: 1px solid rgb(185, 185, 185);
}

.showingTable tr:nth-child(even) {
  background-color: #eee;
}
.showingTable tr:nth-child(odd) {
  background-color: #fff;
}

@media screen and (max-width: 980px) {
  .description h5 {
    font-size: 2.5em;
  }

  .description p {
    font-size: 1.1em;
  }

}
