#three .inner div {
  display: inline-block;
  vertical-align: middle;
}

#three #shopInner {
  padding-top: 50px;
  min-height: 400px;
}

.inner #shopCart {
  height: auto;
  width: 65%;
}

.inner #total {
  width: 20%;
  height: auto;
}

#shopCart .shopItem {
  margin: 5px 0;
  width: 90%;
  height: 5em;
  border-bottom: 1px solid grey;
}

#shopCard .shopItem div {
  display: inline-block;
  vertical-align: middle;
}

#shopCart .shopItem div:first-child {
  float: left;
  height: inherit;
}

#shopCart .shopItem div:first-child img {
  height: 80%;
  width: inherit;
}

#shopCart .shopItem div:nth-of-type(2) {
  float: left;
  margin-left: 20px;
}

#shopCart .shopItem div:last-child {
  float: right;
}

#shopCart .shopItem h1, h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 120%;
  color: black;
}

#total .card {
  padding: 10px;
  margin-bottom: 5px;
  height: auto;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#total h1, p {
  text-align: right;
  padding-right: 15%;
}

#total .card h1 {
  margin-bottom: 5px;
}

#total .card p:first-of-type {
  padding-bottom: 20px;
  margin-bottom: 5px;
  color: black;
  border-bottom: 1px solid grey;
}

#total button {
  border-radius: 5px;
  width: 70%;
  height: 40px;
  color: white;
  background-image: linear-gradient(to right, #cf1313, #e64343, #cf1313);
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

#total .sconto {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#total .sconto input {
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

#total .sconto p {
  text-align: center;
  color: black;
  margin-top: 10px;
  padding: 0;
}