/* conferma di acquisto */
.ticketConfirm {
  position: fixed;
  top: 0;
  width: 100%;
  height: 1000px;
  background-color: grey;
  z-index: 100000;
  visibility: hidden;
}

.ticketConfirm #ticket {
  position: relative;
  border-radius: 20px;
  margin: 4em auto;
  padding: 10px;
  width: 60%;
  height: 200px;
  background-color: white;
  opacity: 1;
  text-align: center;
}

.ticketConfirm #ticket p {
  text-align: center;
  margin: 20px auto;
  padding: 0;
  color: black;
  font-size: 120%;
}

.ticketConfirm #ticket a {
  color: blue;
  font-size: 120%;
  outline: none;
}

/*  Pagine correnti */
.pageContainer {
  width: 90%;
  height: 10%;
  margin: 0 auto 2em auto;
}

.pageContainer li {
  display: inline-block;
  color: grey;
  font-size: 130%;
  padding: 0 1em;
  margin: 0 2em;
  transition: all 0s;
}

.pageContainer li.active {
  border-bottom: 2px solid blue;
  font-weight: bold;
  color: blue;
}

/* blocco centrale che contiene i sotto menu */
#three {
  position: relative;
}

#three .inner div {
  display: inline-block;
  vertical-align: middle;
}

#three p {
  padding: 0;
}

#three #shopInner {
  padding: 20px 0;
}

.content {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.content>div {
  width: 100%;
  visibility: hidden;
  height: 0;
}

.content>div.active {
  visibility: visible;
  height: auto;
  min-height: 200px
}

/* div dei bottoni */
.buttons {
  margin: 20px auto;
  width: 100%;
  height: auto;
}

.buttons button {
  width: 120px;
  padding: 15px;
  font-size: 110%;
}

.buttons button:first-child {
  float: left;
  margin-left: 3em;
}

.buttons button:last-child {
  float: right;
  margin-right: 3em;
}

/* Order div */
#order p {
  text-align: center;
  font-size: 130%;
  color: black
}

#order .shopItem {
  margin: 5px 0;
  width: 90%;
  height: 5em;
  border-bottom: 1px solid grey;
}

#order .shopItem div {
  display: inline-block;
  vertical-align: middle;
}

#order .shopItem div:first-child {
  float: left;
  height: inherit;
}

#order .shopItem div:first-child img {
  height: 80%;
  width: inherit;
}

#order .shopItem div:nth-of-type(2) {
  float: left;
  margin-left: 20px;
}

#order .shopItem div:last-child {
  float: right;
}

#order .shopItem h1, h2 {
  text-align: left;
  margin-bottom: 10px;
  font-size: 120%;
  color: black;
}

/* Email div */
#email .insertEmail {
  width: 100%;
  margin: 0 auto;
}

#email p {
  color: black;
  font-size: 120%;
  text-align: center;
}

#email label, #paycard label {
  font-size: 130%;
  color: black;
  margin-right: 1em;
}

#email input {
  width: 40%;
  border: none;
  padding-left: 1em;
  border-bottom: 1px solid black;
  background-color: transparent;
  outline: none;
  font-size: 120%;
  color: black;
}

/* card div */
#paycard>div {
  width: 100%;
  margin: 10px auto;
}

#paycard input {
  outline: none;
  color: black;
  font-size: 120%;
}

#paycard .cardNumber input {
  width: 200px;
}

#paycard .deadline input {
  width: 30px;
}

#paycard .deadline * {
  display: inline-block;
}

#paycard .deadline p {
  margin: 0;
  padding: 0;
  color: black;
}

#paycard .cvv input {
  width: 40px;
}

/* Confirm div */
#total>div {
  display: inline-block;
  margin: -4em 10px 0 20px;
  vertical-align: center;
}

#total .card {
  padding: 10px;
  height: 200px;
  width: 20%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#total h1, p {
  text-align: right;
  padding-right: 15%;
}

#total .card h1 {
  margin-bottom: 5px;
}

#total .card p:first-of-type {
  padding-bottom: 20px;
  margin-bottom: 5px;
  color: black;
  border-bottom: 1px solid grey;
}

#total button {
  border-radius: 5px;
  width: 70%;
  height: 40px;
  color: white;
  background-image: linear-gradient(to right, #cf1313, #e64343, #cf1313);
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

#total .sconto button {
  margin-top: 20px;
}

#total .sconto {
  padding: 10px;
  width: 20%;
  height: 200px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#total .sconto input {
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
}

#total .sconto p {
  text-align: center;
  color: black;
  margin-top: 10px;
  padding: 0;
}

#total #buyMess {
  width: 100%;
  text-align: center;
  margin-top: 3em;
  color: black;
  font-size: 110%;
}