/* composizione delle sedie della sala */
#three {
  margin-top: 3em;
}

.inner {
  border-bottom: 1px solid rgb(30, 63, 97);
}

.inner .seatList {
  max-width: 90%;
  display: inline-block;
  padding: 0 2%;
  margin-bottom: 2%;
}

.inner .seatRow {
  margin: 5% 0;
  width: auto;
  height: auto;
}

.inner #display {
  margin: 0 auto 2em auto;
  border-radius: 50px;
  width: 80%;
  height: 20px;
  background-color: grey;
}

.inner button {
  width: 30%;
  height: 2em;
  font-size: 1.2em;
  margin: 2em auto;
  display: block;
}

.seatList .seat {
  display: inline-block;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
}

/* free seats */
.seatList .seat[value='true'] {
  cursor: pointer;
  background-color: white;
}

.seatList .seat[value='true']:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* not free */
.seatList .seat[value='false'] {
  background-color: #8f0707;
}

#error {
  font-size: 120%;
  color: black;
}

.seatList #free {}

.seatList #not {}