/* composizione delle sedie della sala */

#three {
  margin-top: 3em;
}

.inner .seatList {
  display: inline-block;
}

.seatList .seat {
  display: inline-block;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.seatList #free {

}
.seatList #not {

}
