#footerAd {
  width: 100%;
  height: 100px;
  background-color: rgb(30,63,97);
}

#three .inner {
  margin-left: 0 !important;
  margin-right: 0 !important;
  overflow: auto;
}

/* primo sottom menu */

.sideMenu {
  position: relative;
  float: left;
  overflow-y: auto;
  height: auto;
  width: 20%;
  border-right: 1px solid rgb(30,63,97);
}

.sideMenu a {
  display: block;
  color: rgb(30,63,97);
  padding: 20px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s;
  cursor: pointer;
}

.sideMenu a.active {
  background-color: rgb(30,63,97);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.sideMenu a:hover:not(.active) {
background-color: rgb(161, 161, 161);
}

/*contenuto di amministrazione */
.contentAdmin {
  position: relative;
  padding-left: 5%;
  overflow: auto;
  float: left;
  height: auto;
  width: 80%;
}

.contentAdmin *:not(div) {
  margin: 10px;
}

.contentAdmin input {
  width: 35%;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  color: black;
}

.contentAdmin input:focus {
  outline: none;
}


.contentAdmin textarea {
  width: 70%;
  resize: none;
  border-radius: 10px;
  padding: 5px 10px;
  border: none;
  color: black;
}

.contentAdmin textarea:focus {
  outline: none;
}

.contentAdmin .leggenda h5 {
  font-size: 120%;
}

.contentAdmin .leggenda h6{
  font-size: 110%;
}

.contentAdmin button {
  border-radius: 50px;
  color: white;
  background-color: rgb(30,63,97);
  padding:10px;
  border: none;
  cursor: pointer;
}

.contentAdmin button:focus {
  outline: none;
}

.contentAdmin button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.contentAdmin #searchList {
  width: 25%;
  padding: 5px 10px;
}

.contentAdmin .change, .add {
  border-bottom: 1px solid rgb(30,63,97);
  overflow: visible;
}

.contentAdmin p {
  text-align: left;
  color: rgb(30,63,97);
}


/* menu di sotto gestione selezionati da bottone*/
.theatre{
  overflow: hidden;
  height: 0;
}

.movie {
  overflow: hidden;
  height: 0;
}

.ticket {
  overflow: hidden;
  height: 0;
}

.showing {
  overflow: hidden;
  height: 0;
}
