<!DOCTYPE html>
<html>
  <head>

    <title>Error 404</title>

    <style>
      body {
        background-color: #1e3f61;
        font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
      }



      a{
        color: white;

      }
      h3 {

        color: white;

      }
    </style>

  </head>

  <body>
    <center>
    <h1> <br></h1>
    <img src="../statics/images/icon/pixar-error-404.png" alt="error_404" width="320" height="322" >
    <h1> <br></h1>
    <h3>Ci dispiace. L'indirizzo Web inserito corrisponde a una pagina non funzionante del nostro sito. <br>
        ritorna alla  <a href="/index">home page </a>
    </h3>

    </center>
  </body>
</html>
