<!DOCTYPE HTML>
<html>

  <head>
    <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
    <title>Cinema G20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../statics/css/main.css" />
    <link rel="stylesheet" href="../statics/css/index.css">
    <link rel="stylesheet" href="../statics/css/admin.css">
    <link href="../statics/css/stile.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../statics/css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="../statics/css/style0.css" rel="stylesheet" type="text/css" media="screen">

    <script type="text/javascript" src="../statics/js/jquery-1.11.1.min.js"></script>


  </head>

  <body>

    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="#">Home</a>
          <a href="faq.html">FAQ</a>
          <a href="#footer">About</a>
          <a href="#" onClick="loginAppear(); return false;">Login</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- codice per menu2 -->
    <div id="container2">
    	<header>
        	<div class="menu2">
            	<div class="closeButton"><a class="icon-close"></a></div>
            		<ul>
                    		<li><a value="theatre">Gestisci Sale</a></li>
                        <li><a value="movie">Gestisci Film</a></li>
                        <li><a value="ticket">Gestisci Biglietti</a></li>
                        <li><a value="showing">Gestisci Proiezioni</a></li>
                        <li><a href="#">altro</a></li>
                </ul>
            </div>
            <div id="menu2Button"><a class="icon-menu2"></a></div>
      </header>
    </div>

    <script>
    	$('#menu2Button').click(function()
    {
    	   $('.menu2').
                animate({"left":"0px"}, 1000);
           });

           $('.closeButton').click(function()
    {
    	   $('.menu2').animate({"left":"-200px"}, 1000);
    });

    </script>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
      <div id="innerAdmin" class="inner">

        <!-- Primo sidemenu2 a sinistra -->


        <!-- FINE SOTTO menu2 ------------>

        <!-- div che si mostrano in relaizione al bottone premuto ------>
        <div class="contentAdmin">

          <!-- gestione delle sale -->
          <div class="theatre">

            <div class="change">
              <p>Modifica o rimuovi sale:</p>

              <div class="searchDiv">
                <input id="searchList" list="theatreList" placeholder="Cerca sala">
                <datalist id="theatreList">
                  <option value="Sale Disponibili">
                  <option value="prova 1">
                  <option value="prova 2">
                </datalist>

                <button>Rimuovi</button>
                <button>ModificHa</button>
              </div>

              <input placeholder="Nome">
              <input placeholder="righe-colonne ex: 5-7">

              <textarea rows="8" cols="80" placeholder="configuration
              example:
              P-C-C-C-C-C-P
              D-C-C-C-C-C-D"></textarea>
              <div class="leggenda">
                <h5><strong>Leggenda: </strong></h5>
                <h6>P: elemento 1</h6>
                <h6>C: elemento 2</h6>
                <h6>D: elemento 3</h6>
              </div>
            </div>


            <div class="add">
              <p>Aggiungi una sala:</p>

              <input placeholder="Nome">
              <input placeholder="righe-colonne ex: 5-7">
              <button>Aggiungi</button>
            </div>
          </div>


          <!--Gestione dei film -->
          <div class="movie">

            <div class="change">
              <p>Modifica o rimuovi film</p>

              <div class="searchDiv">
                <input id="searchList" list="filmList" placeholder="Cerca film">
                <datalist id="filmList">
                  <option value="Sale Disponibili">
                  <option value="prova 1">
                  <option value="prova 2">
                </datalist>

                <button>Rimuovi</button>
                <button>Modifica</button>
              </div>

              <input placeholder="Nome">
              <input placeholder="Durata">
              <input placeholder="Prezzo">
              <input placeholder="Pegi18">
              <textarea rows="8" cols="80" placeholder="Descrizione"></textarea>
            </div>

            <div class="add">
              <p>Aggiungi un film:</p>

              <input placeholder="Nome">
              <input placeholder="Durata">
              <input placeholder="Prezzo">
              <input placeholder="Pegi18">
              <textarea rows="8" cols="80" placeholder="Descrizione"></textarea>
              <button>Aggiungi</button>
            </div>
          </div>


          <!--Gestione dei biglietti -->
          <div class="ticket">

            <div class="change">
              <p>Cerca o modifica Biglietto:</p>

              <div class="searchDiv">
                <input id="searchList" placeholder="ID Biglietto">

                <button>Cerca</button>
                <button>Rimuovi</button>
                <button>Modifica</button>
              </div>

              <input placeholder="Film Prenotato">
              <input placeholder="Data Proiezione">
              <input placeholder="Prezzo Pagato">
              <input placeholder="Tipologia posto">

            </div>

          </div>


          <!--Gestione delle proiezioni -->
          <div class="showing">
            <div class="change">
              <p>Cerca o modifica Proiezione</p>

              <div class="searchDiv">
                <input id="searchList" placeholder="ID proiezione">

                <button>Cerca</button>
                <button>Rimuovi</button>
                <button>Modifica</button>
              </div>

              <input placeholder="Film">
              <input placeholder="Data e ora">
              <input placeholder="Sala">
              <input placeholder="Prezzo">
            </div>

            <div class="add">
              <p>Crea Proiezione</p>

              <input id="searchList" list="filmList" placeholder="Seleziona film">
              <datalist id="filmList">
                <option value="Sale Disponibili">
                <option value="prova 1">
                <option value="prova 2">
              </datalist>

              <input placeholder="Data e ora">
              <input placeholder="Sala">
              <input placeholder="Prezzo">
              <button>Aggiungi</button>

              <p>Creata proiezione con ID: 00000 <br>
                Si consiglia di memorizzarlo
                salvo trovare un metodo piu efficace </p>
            </div>
          </div>

        </div>




      </div>


      </div>
    </section>



    <!-- Footer -->
    <footer id="footerAd">
      <div class="inner">


      </div>
    </footer>

    <!-- Scripts -->
    <script src="../statics/js/jquery.min.js"></script>
    <script src="../statics/js/skel.min.js"></script>
    <script src="../statics/js/util.js"></script>
    <script src="../statics/js/main.js"></script>

    <!-- nostri script -->
    <script src="../statics/js/admin.js"></script>
  </body>

</html>
