<!DOCTYPE HTML>
<html>

  <head>
    <link rel="icon" href="../static/images/favicon.png" type="image/png" />
    <title>Cinema G20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/catalog.css">
    <link rel="stylesheet" href="../static/css/login.css">
  </head>

  <body>

    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <div>
            <img src="../static/images/icon/barIcon.png" alt="">
            <a>G20</a>
          </div>
          <a href="index.html">Home</a>
          <a href="#">Catalog</a>
          <a href="faq.html">FAQ</a>
          <a href="#footer">Contact</a>
          <a href="index.html#login">Login</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
      <div id="innerCatalog" class="inner">

        <!-- search bar -->
        <div id="searchBar" class="searchBar">
          <input id="search" type="search" placeholder="Search Movie">
          <img src="../static/images/icon/search.png" alt="">
        </div>

        <!-- Movie catalog -->
        <div class="filmMenu">

        </div>

        <button id="showFilm">Mostra altro</button>



      </div>
    </section>




    <!-- Footer -->
    <footer id="footer">
      <div class="inner">

        <div class="inf">
          <h3><strong>CONTACT US</strong></h3>
          <div id="position">
            <img src="../static/images/icon/position.png" alt="">
            <p>Via Adolfo Ferrara 5, Pavia, Italy</p>
          </div>
          <div id="email">
            <img src="../static/images/icon/email.png" alt="">
            <p>progrettog20@gmail.com</p>
          </div>
        </div>

        <div class="social">
          <img src="../static/images/icon/facebook.png" alt="">
          <img src="../static/images/icon/twitter.png" alt="">
          <img src="../static/images/icon/googleplus.png" alt="">
        </div>

      </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>

    <!-- nostri script -->
    <script src="../static/js/itemPagination.js"></script>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/search.js"></script>

  </body>

</html>