<!DOCTYPE HTML>

<html>

  <head>
    <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
    <title>Movie Catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../statics/css/main.css" />
    <link rel="stylesheet" href="../statics/css/catalog.css">
    <link rel="stylesheet" href="../statics/css/filmMenu.css">
  </head>

  <body>

    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="/">Home</a>
          <a href="#">Movie Catalog</a>
          <a href="/delete">Delete Reservation</a>
          <a href="/faq">FAQ</a>
          <a href="#footer">Contact us</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
      <div id="innerCatalog" class="inner">

        <h1>All title are here. Search what you like!</h1>

        <!-- search bar -->
        <div class="searchBar">
          <label for="searchMovie">Search</label>
          <input type="text" id="searchMovie" name="searchMovie" autocomplete="off" />
          <img id="searchImg" src="../statics/images/icon/search.png" alt="" />
        </div>

        <!-- Movie catalog -->
        <div class="filmMenu">
        </div>


        <div id='loadMess'>
          <div class="loader"></div>
          <h1 id='mess'>Loading...</h1>
        </div>

      </div>

      </div>
    </section>




    <!-- Footer -->
    <footer id="footer">
      @imported.footer()
    </footer>

    <!-- Scripts -->
    <script src="../statics/js/jquery.min.js"></script>

    <!-- nostri script -->
    <script src="../statics/js/catalog.js"></script>

  </body>

</html>