<!DOCTYPE HTML>

<html>

  <head>
    <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
    <title>Cinema G20</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../statics/css/main.css" />
    <link rel="stylesheet" href="../statics/css/index.css">
    <link rel="stylesheet" href="../statics/css/catalog.css">
    <link rel="stylesheet" href="../statics/css/login.css">
  </head>

  <body>

    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <div>
            <img src="../statics/images/icon/barIcon.png" alt="">
            <a>G20</a>
          </div>
          <a href="/">Home</a>
          <a href="/catalog">Catalog</a>
          <a href="/index#faq">FAQ</a>
          <a href="#footer">Contact</a>
          <a href="/index#login">Login</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
      <div id="innerCatalog" class="inner">

        <!-- search bar -->
        <div id="searchBar" class="searchBar">
          <input id="search" type="search" placeholder="Search Movie" />
          <img class="searchImg" src="../statics/images/icon/search.png" alt="" />
        </div>

        <!-- Movie catalog -->
        <div class="filmMenu">


        </div>

      </div>

      <button id="showFilm" class="showFilm">Mostra altro</button>



      </div>
    </section>




    <!-- Footer -->
    <footer id="footer">
      @imported.footer()
    </footer>

    <!-- Scripts -->
    <script src="../statics/js/jquery.min.js"></script>
    <script src="../statics/js/skel.min.js"></script>
    <script src="../statics/js/util.js"></script>
    <script src="../statics/js/main.js"></script>

    <!-- nostri script -->
    <script src="../statics/js/login.js"></script>
    <script src="../statics/js/search.js"></script>
    <script src="../statics/js/GET.js"></script>

  </body>

</html>