<!DOCTYPE HTML>
@args {
boolean result
String resultValue
}
<html>

  <head>
    <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
    <title>Delete Reservation</title>
    <meta charset="utf-16" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../statics/css/main.css">
    <link rel="stylesheet" href="../statics/css/delete.css">

  </head>

  <body>

    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="/">Home</a>
          <a href="/catalog?search=all">Movie catalog</a>
          <a href="#">Delete reservation</a>
          <a href="/faq">FAQ</a>
          <a href="#footer">Contact us</a>
          <a href="/shopCard">Shop Card</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>


    <!-- Three -->
    <section id="three" class="wrapper align-center">
      <div class="inner">

        <h1>Do you want to collect your reservation? no problem,
          enter your ticket code below, and we'll take care of it!</h1>

        <div class="deleteImg">
          <img src="../statics/images/icon/popcorn.png" alt="">
        </div>

        <div class="deleteContent">

          <div class="searchTicket">
            <label for="">Ticket Code</label>
            <input type="text" name="" value="">
          </div>

          <button id="deleteButton">DELETE</button>

        </div>

        <div class="deleteImg">
          <img src="../statics/images/icon/ticket.png" alt="">

        </div>

        <p id="errorMess">Messaggio di errore</p>
    </section>



    <!-- Footer -->
    <footer id="footer">
      @imported.footer()
    </footer>

    <!-- Scripts -->
    <script src="../statics/js/jquery.min.js"></script>

    <script type="text/javascript">
      $('.searchTicket input').on('focus', function()
      {
        $('.searchTicket label').addClass('active');
      }).on('blur', function()
      {
        $('.searchTicket label').removeClass('active');
        $('.searchTicket input').val("");
      })
    </script>
  </body>

</html>