<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/favicon.png" type="image/png" />
    <title>Cinema G20 - FAQ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
    <link rel="stylesheet" href="../static/css/faq.css">
  </head>


  <body>
    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="index.html">Home</a>
          <a href="#">FAQ</a>
          <a href="#footer">About</a>
          <a href="#" onClick="loginAppear(); return false;">Login</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <header>
          <h1>Hai dei dubbi?</h1>
          <h2><i>sei sul posto giusto!</i></h2>
        </header>

      </div>
    </section>


    <!-- Three -->

    <section id="three" class="wrapper align-center">
      <div class="inner">

        <div class="accordion">
          <div class="accordion-item">
            <a>What can JavaScript Do?</a>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>How JavaScript Can Modify HTML and CSS Values?</a>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>What Is SVG?</a>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>Is FAQ Section Matters In Website?</a>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
          </div>
          <div class="accordion-item">
            <a>How To Create a Light FAQ Element?</a>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
            </div>
          </div>

        </div>
      </div>
    </section>


    <!-- Footer -->
    <!-- Footer -->
    <footer id="footer">
      <div class="inner">

        <div class="inf">
          <h3><strong>CONTACT US</strong></h3>
          <div id="position">
            <img src="../static/images/icon/position.png" alt="">
            <p>Via Adolfo Ferrara 5, Pavia, Italy</p>
          </div>
          <div id="email">
            <img src="../static/images/icon/email.png" alt="">
            <p>progrettog20@gmail.com</p>
          </div>
        </div>

        <div class="social">
          <img src="../static/images/icon/facebook.png" alt="">
          <img src="../static/images/icon/twitter.png" alt="">
          <img src="../static/images/icon/googleplus.png" alt="">
        </div>

      </div>
    </footer>

    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>

    <script src="../static/js/navbar.js"></script>
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
    <script src="../static/js/faq.js"></script>
  </body>

</html>