<!DOCTYPE HTML>
<html>

  <head>
    <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
    <title>FAQ</title>
    <meta charset="utf-16" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../statics/css/main.css">
    <link rel="stylesheet" href="../statics/css/faq.css">
    <!-- external refers -->
    <link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
  </head>

  <body>
    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="/">Home</a>
          <a href="/catalog?search=all">Movie catalog</a>
          <a href="/delete">Delete reservation</a>
          <a href="#">FAQ</a>
          <a href="#footer">Contact us</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- faq container -->

    <h1>Have you a question? No problem!</h1>

    <div class="container">

      <div class="accordion">
        <div class="accordion-item">
          <a>How can I buy a ticket?</a>
          <div class="content">
            <p>To purchase a ticket you should:
				<ul>
				<li>Choose an available show for the movie you chose from the Movie catalog</li>
				<li>Select your favorite seat among those available</li>
				<li>Enter the details of your payment method</li>
				<li>Proceed with the purchase</li></ul>
				<br>
				We will send you the ticket you purchased to your email.</p>
          </div>
        </div>
        <div class="accordion-item">
          <a>How can I delete reservation?</a>
          <div class="content">
            <p>To delete a reservation, just go to the page dedicated to the purpose, accessible from the
				homepage by clicking on the appropriate "delete reservation" box.
				Just enter, in the specific section, the ticket code that we sent to your email.</p>
          </div>
        </div>
        <div class="accordion-item">
          <a>How can I buy more than one ticket for the same show?</a>
          <div class="content">
            <p>To purchase cumulative tickets for a show, you have to select all the seats you want to reserve
				among those available. All the tickets will be sent to the email that you specified.</p>
          </div>
        </div>
        <div class="accordion-item">
          <a>Can I change a ticket?</a>
          <div class="content">
            <p>It's not possible to change a ticket.
				We suggest you to ask for its cancellation and then make a new reservation.
				Please consult the FAQ "How can I delete a reservation?".</p>
          </div>
        </div>
        <div class="accordion-item">
          <a>How can I use a discount code?</a>
          <div class="content">
            <p>You can use a valid discount code by entering it in the appropriate box during your purchase, the
				discount will be applied to the total of your booking.</p>
          </div>
        </div>
		 <div class="accordion-item">
          <a>What about measures for disabled people?</a>
          <div class="content">
            <p>We strive to ensure an efficient service for each of our customers, for this reason there are also
					available seats for disabled people. These seats are identified by the letter D.</p>
          </div>
        </div>
		 <div class="accordion-item">
          <a>What is a "Premium Seat"?</a>
          <div class="content">
            <p>We have selected some seats from those in our theatres that guarantee a better view.
				To these seats we have assigned the name "Premium" and they will be identifiable by the letter P.
				For these, an extra cost is added to the basic cost of a ticket.
			</p>
          </div>
        </div>
		
		<br><br><center><h3>If you have not found an answer to what you were looking for, please visit the "contact us" page, accessible from the homepage.
		We will try to help you solve the problem.</h3></center>
      </div>


    </div>

    <div class="faqImg">
      <img src="../statics/images/icon/faq.png" alt="">
    </div>


    <!-- Footer -->
    <footer id="footer">
      @imported.footer()
    </footer>

    <!-- Scripts -->
    <script src="../statics/js/jquery.min.js"></script>
    <script src="../statics/js/faq.js"></script>
  </body>

</html>