<!DOCTYPE HTML>
<html>

	<head>
		<link rel="icon" href="../static/images/favicon.png" type="image/png" />
		<title>Cinema G20</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/index.css">
		<link rel="stylesheet" type="text/css" href="../static/css/login.css">
	</head>

	<body>

		<!-- Header with navbar-->
		<header id="header">
			<div class="inner">
				<nav id="nav">
					<div>
						<img src="../static/images/icon/barIcon.png" alt="">
						<a>G20</a>
					</div>
					<a href="#">HOME</a>
					<a href="faq.html">FAQ</a>
					<a href="#footer">CONTACT</a>
					<a href="#login">LOGIN</a>
				</nav>
				<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
			</div>
		</header>


		<!-- Banner con immagine di sfondo -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1>Cinema G20</h1>
					<h2><i>The best site in Italy to buy tickets ... maybe!</i></h2>

				</header>

			</div>
		</section>


		<!-- Three -->
		<section id="three" class="wrapper align-center">
			<div class="inner">
				<h1>Movie Catalog</h1>

				<!-- search bar -->
				<div id="searchBar" class="searchBar">
					<input id="search" type="search" placeholder="Search Movie">
					<img src="../static/images/icon/search.png" alt="">
				</div>

				<!-- Movie catalog -->
				<div class="filmMenu">

				</div>

				<button id="showFilm">Mostra altro</button>


				<div class="quotes">
					<h1>Citazione preferita di domenico</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed do eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullamco laboriosam, nisi ut aliquid ex ea commodi consequatur.
						Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

				</div>



			</div>
		</section>


		<!-- pagina di login  che appare al click del pulsante
				non credo rimarrà a lungo -->
		<div id="loginTransparent">
			<!-- iframe id="loginFrame" src="login.html" width="100%" height="100%"></iframe -->

		</div>

		<!-- login -->
		<div id="login">
			<div id="topImg">
			</div>

			<div class="loginContent">
				<div id="text">
					<p>Vuoi accederea ad un mondo di film? fantastico!
						Accedi o, se non lo hai ancora fatto, registrati! cosa aspetti?!</p>
				</div>

				<div id="content">
					<div class="loginImg">
						<img src="../static/images/icon/loginImg.png" alt="">
					</div>

					<div class="loginImg">
						<img src="../static/images/icon/minion.png" alt="">
					</div>

					<div class="login-content">
						<form action="index.html">

							<div class="input-div one">
								<div class="i">
									<i class="fas fa-user"></i>
								</div>
								<div class="div">
									<h5>Username</h5>
									<input type="text" class="input">
								</div>
							</div>
							<div class="input-div pass">
								<div class="i">
									<i class="fas fa-lock"></i>
								</div>
								<div class="div">
									<h5>Password</h5>
									<input type="password" class="input">
								</div>
							</div>
							<a href="#">Forgot Password?</a>

							<div class="buttons">
								<input type="submit" class="btn" value="Login">
								<input type="submit" class="btn" value="Create account">
							</div>

						</form>
					</div>


				</div>
			</div>
		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="inner">

				<div class="inf">
					<h3><strong>CONTACT US</strong></h3>
					<div id="position">
						<img src="../static/images/icon/position.png" alt="">
						<p>Via Adolfo Ferrara 5, Pavia, Italy</p>
					</div>
					<div id="email">
						<img src="../static/images/icon/email.png" alt="">
						<p>progrettog20@gmail.com</p>
					</div>
				</div>

				<div class="social">
					<img src="../static/images/icon/facebook.png" alt="">
					<img src="../static/images/icon/twitter.png" alt="">
					<img src="../static/images/icon/googleplus.png" alt="">
				</div>

			</div>
		</footer>

		<!-- Scripts -->
		<script src="../static/js/jquery.min.js"></script>
		<script src="../static/js/skel.min.js"></script>
		<script src="../static/js/util.js"></script>
		<script src="../static/js/main.js"></script>

		<!-- nostri script -->
		<script src="../static/js/itemPagination.js"></script>
		<script src="../static/js/navbar.js"></script>
		<script src="../static/js/login.js"></script>
		<script src="../static/js/search.js"></script>

	</body>

</html>