<!DOCTYPE HTML>
@args {
server.domain.cinema.Movie movie
List<server.domain.showing.MovieShowing> showings
}
  <html>

    <head>
      <meta charset="UTF-8">
      <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
      <title>@movie.getTitle()</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="../statics/css/main.css" />
      <link rel="stylesheet" href="../statics/css/movieInf.css">

    </head>

    <body>
      <!-- Header with navbar-->
      <header id="header">
        <div class="inner">
          <nav id="nav">
            <a href="/">Home</a>
            <a href="/catalog?search=all">Movie catalog</a>
            <a href="/delete">Delete reservation</a>
            <a href="/faq">FAQ</a>
            <a href="/home#footer">Contact us</a>
            <a href="/shopCard">Shop Card</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>


      <!-- Three -->
      <section id="three" class="wrapper">
        <div id="movieInf" class="inner">

          <div class="imgMovie">
            <img src="@movie.getPathCover()" alt="">
          </div>

          <div class="description">
            <h5 id='title'><strong>@movie.getTitle()</strong></h5>
            <p>@movie.getPlot()</p>
            <h6><strong>Duration: </strong> @movie.getDuration()</h6>
            <h6><strong>Genre: </strong> @movie.getCategory().toString().toLowerCase()</h6>

          </div>

          <button id="showsButton" type="button" onClick="showingAppear(); return false;">Available shows</button>

          <!-- showing table -->
          <div class="catalogList">

            <div class="showingTable">
              <table>
                <tr>
                  <th> <strong>Date and time</strong></th>
                  <th> <strong>Theatre</strong> </th>
                  <th> <strong>Price</strong></th>
                  <th></th>
                </tr>

                @for (server.domain.showing.MovieShowing show: showings) {

                <tr>
                  <td>@show.getDateToString()</td>
                  <td>@show.getTheatreName()</td>
                  <td>@show.getPrice()</td>
                  <td> <button id="buy" value='@show.getId()'>BUY</button> </td>
                </tr>
                }

              </table>

              @if(showings.size() == 0) {
              <p id="errorMess">Nothing show avaliable</p>
              }

            </div>
          </div>

        </div>
      </section>


      <!-- Scripts -->
      <script src="../statics/js/jquery.min.js"></script>
      <script src="../statics/js/showing.js"></script>
      <script src="../statics/js/GET.js"></script>

    </body>

  </html>