<!DOCTYPE HTML>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="../static/images/favicon.png" type="image/png" />
    <title>Cinema G20 - Film information</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/movie.css">
    <link rel="stylesheet" href="../static/css/showing.css">
  </head>

  <body>
    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="index.html">Home</a>
          <a href="#">FAQ</a>
          <a href="#footer">About</a>
          <a href="#" onClick="loginAppear(); return false;">Login</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- Banner -->
    <section id="banner">
      <div class="inner">
        <header>
          <h1>Film information</h1>
        </header>

      </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper">
      <div class="inner">

        <div class="imgMovie">
          <img src="../static/images/cover/joker.jpg" alt="">

        </div>
        <div class="description">
          <h5><strong>Joker - Joaquin Phoenix</strong></h5>
          <p>Ambientato negli anni Ottanta, “Joker” racconta la storia di Arthur Fleck, che abita con l’anziana mamma in un fatiscente palazzo. Per portare a casa qualche soldo, fa pubblicità per strada travestito da clown con - nel cuore - il sogno
            di diventare un comico. È una vera tragedia, però, la sua vita: viene deriso, bullizzato, ridicolizzato. Una situazione di grandissimo stress, che gli causa un tic che lo fa ridere di continuo.

            Emarginato ancor di più, un giorno decide di reagire: lo fa con una pistola alla mano, trasformandosi in un pagliaccio assassino. La polizia di Gotham City gli dà la caccia, ma i cittadini iniziano ad amarlo: è un oppresso che si ribella
            ai ricchi, una sorta di eroe. Sebbene, nella realtà dei fatti, sia un killer psicotico destinato a diventare uno dei più crudeli criminali della storia.</p>
          <h6><strong>Anno: </strong> 2020</h6>
          <h6><strong>Durata: </strong> 1h 30m</h6>
          <h6><strong>Genere: </strong> CineComic</h6>
          <h6><strong>Prezzo: </strong> 0.00€</h6>
        </div>

        <button type="button" onClick="showingAppear(); return false;">Available shows</button>

        <!-- catalog showing form -->
        <div class="catalogList">
          <p class="prova">testo di prova, verrà sostituito da una tabella con la lista delle proiezioni per questo film</p>
        </div>


      </div>
    </section>





    <!-- Footer -->
    <footer id="footer">
      <div class="inner">


        <h3>About us</h3>
        <div class="map">
          <iframe src="https://www.google.com/maps/d/embed?mid=1sHNNvSHpBqGONd7N3zVXRE681ok15XBa" width="640" height="480"></iframe></div>
      </div>
      </div>
    </footer>


    <!-- Scripts -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/skel.min.js"></script>
    <script src="../static/js/util.js"></script>
    <script src="../static/js/main.js"></script>

    <script src="../static/js/login.js"></script>
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/showing.js"></script>

    <!-- sto provando questo script -->
    <script src="../static/js/catalog.js"></script>

  </body>

</html>
