<!DOCTYPE HTML>
@args {
String imgUrl
String title
String description
String year
String duration
String genere
String price
List<String> idShowList

  }


  <html>

    <head>
      <meta charset="UTF-8">
      <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
      <title>Nome del film</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="../statics/css/main.css" />
      <link rel="stylesheet" href="../statics/css/index.css">
      <link rel="stylesheet" href="../statics/css/movie.css">
      <link rel="stylesheet" href="../statics/css/showing.css">
    </head>

    <body>
      <!-- Header with navbar-->
      <header id="header">
        <div class="inner">
          <nav id="nav">
            <a href="/index">Home</a>
            <a href="/catalog">Catalog</a>
            <a href="/index#faq">FAQ</a>
            <a href="#footer">About</a>
            <a href="/index#login">Login</a>
          </nav>
        </div>
      </header>


      <!-- Three -->
      <section id="three" class="wrapper">
        <div id="movieInf" class="inner">

          <div class="imgMovie">
            <img src="../statics/images/cover/joker.jpg" alt="">

          </div>
          <div class="description">
            <h5><strong>@title</strong></h5>
            <p>@description</p>
            <h6><strong>Anno: </strong> @year</h6>
            <h6><strong>Durata: </strong> @duration</h6>
            <h6><strong>Genere: </strong> @genere</h6>
            <h6><strong>Prezzo: </strong> @price</h6>
          </div>

          <button type="button" onClick="showingAppear(); return false;">Available shows</button>

          <!-- showing table -->
          <div class="catalogList">

            <div class="showingTable">
              <table>
                <tr>
                  <th> <strong>Data e orario</strong></th>
                  <th> <strong>Sala proiezione</strong> </th>
                  <th> <strong>Prezzo</strong></th>
                  <th></th>
                </tr>

                @for (String id: idShowList) {

                <tr>
                  <td>22-Maggio-2090 16:00 PM</td>
                  <td>@id</td>
                  <td>120€</td>
                  <td> <button>Acquista</button> </td>
                </tr>
                }

              </table>

            </div>
          </div>

        </div>
      </section>






      <!-- Footer -->
      <footer id="footer">
        @imported.footer()
      </footer>



      <!-- Scripts -->
      <script src="../statics/js/jquery.min.js"></script>
      <script src="../statics/js/skel.min.js"></script>
      <script src="../statics/js/util.js"></script>
      <script src="../statics/js/main.js"></script>

      <script src="../statics/js/login.js"></script>
      <script src="../statics/js/showing.js"></script>

      <!-- sto provando questo script -->
      <script src="../statics/js/catalog.js"></script>

    </body>

  </html>