<!DOCTYPE HTML>
@args {
List<server.domain.shopCard.Item> itemList
  double price
  }
  <html>

    <head>
      <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
      <title>Shop Card</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="../statics/css/main.css" />
      <link rel="stylesheet" href="../statics/css/shop.css">


    </head>

    <body>

      <!-- Header with navbar-->
      <header id="header">
        <div class="inner">
          <nav id="nav">
            <a href="/">Home</a>
          </nav>
          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>




      <!-- Three -->
      <section id="three" class="wrapper align-center">
        <div id="shopInner" class="inner">

          <!-- elementi nel carrello -->
          <div id="shopCart">

            @if(itemList.size() == 0) {
            <p>Shop Card is empty</p>
            }

            @for (server.domain.shopCard.Item item: itemList) {


            <div class="shopItem">
              <div>
                <img src="../statics/images/icon/ticket.png" alt="">
              </div>

              <div>
                <h1>@item.getTitle()</h1>
                <h2>@item.getDate()</h2>
              </div>

              <div>
                <h1>@item.getPrice()</h1>
                <h2>@(item.getTheatreName() +" - Seat: "+ item.getSeat())</h2>
              </div>
            </div>
            }


          </div>

          <!-- totale spesa -->
          <div id="total">

            <div class="card">
              <h1>Total: </h1>
              <p id="totalPrice" price='@price'>@price Euro</p>
              <p id="discount"></p>

              <button type="button">ACQUISTA</button>
            </div>

            <div class="sconto">
              <h1>Discount code: </h1>
              <input placeholder="Code">
              <button type="button">APPLY</button>
              <p>message</p>
            </div>


          </div>

        </div>
      </section>

      <!-- Scripts -->
      <script src="../statics/js/jquery.min.js"></script>
      <script src="../statics/js/shop.js"></script>

      <!-- nostri script -->
    </body>

  </html>