<!DOCTYPE HTML>

<html>

  <head>
    <link rel="icon" href="../statics/images/favicon.png" type="image/png" />
    <title>Cinema G20</title>
    <meta charset="utf-16" />
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../statics/css/index.css">
    <link rel="stylesheet" href="../statics/css/main.css">
    <link rel="stylesheet" href="../statics/css/theatre.css">
  </head>

  <body>

    <!-- Header with navbar-->
    <header id="header">
      <div class="inner">
        <nav id="nav">
          <a href="#">Home</a>
          <a href="/catalog?search=all">Movie catalog</a>
          <a href="/delete">Delete reservation</a>
          <a href="/faq">FAQ</a>
          <a href="#footer">Contact us</a>
        </nav>
      </div>
    </header>


    <!-- Banner con immagine di sfondo -->
    <section id="banner">
      <div class="inner">
        <header>
          <h1>Scegli IL tuo Posto</h1>
          <h2><i></i></h2>
        </header>
      </div>
    </section>


    <!-- Three -->
    <section id=" three" class="wrapper align-center">
      <div class="inner">

        <div class="seatList">

          <!-- 0 = occuped; 1 = free -->
          <div id="not" class="seat">

          </div>
          <div id="free" class="seat">

          </div>

          <!-- di prova -->
          <div id="not" class="seat">
            <p>P</p>
          </div>
          <div id="free" class="seat">
            <p>X</p>
          </div>
          <div id="not" class="seat">
            <p>P</p>
          </div>
          <div id="free" class="seat">
            <p>X</p>
          </div>
          <div id="not" class="seat">
            <p>P</p>
          </div>
          <div id="free" class="seat">
            <p>X</p>
          </div>





        </div>
      </div>
    </section>


    <!-- Footer -->
    <footer id="footer">
      @imported.footer()
    </footer>

    <!-- Scripts -->
    <script src="../statics/js/jquery.min.js"></script>
    <script src="../statics/js/skel.min.js"></script>
    <script src="../statics/js/util.js"></script>
    <script src="../statics/js/main.js"></script>

    <!-- nostri script -->
    <script src="../statics/js/navbar.js"></script>
    <script src="../statics/js/GET.js"></script>

  </body>

</html>